<div class="container">
  <div class="header">
    <div class="saved-items">
      <button class="primary">SAVED LIST</button>
      <button class="primary">SAVED LIST</button>
      <button class="primary">SAVED LIST</button>
      <input type="text" id="gsearch" name="gsearch"[(ngModel)]="searchText" class="search" placeholder="search">
    </div>
  </div>
  <div class="item_block">
    <div class="item_block_left">
      <ul class="o-all-items-list-heading">
        <li class="o-all-items-list__item">
          <div>
            <div class="item_date">Date</div>
            <div class="item_name">Name</div>
            <div class="item_entities">No. of entities</div>
            <div class="item_actions">Actions</div>
          </div>
        </li>
      </ul>
      <ul class="o-all-items-list" *ngFor="let item of items | filter: searchText">
        <li class="o-all-items-list__item">
          <div>
            <div class="item_date">{{ item.date }}</div>
            <div class="item_name">{{ item.name}}</div>
            <div class="item_entities">{{item.entitie}}</div>
            <div class="item_actions">ddsf</div>
            <div class="details">
              <button (click)="showDetails(item.details)">Details</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="item_block_right">
      <div class="description">
       Description is not added yet
      </div>
      <div class="item_datilas_all" *ngFor="let detail of details">
        <div class="item_details_single">
          {{detail}}
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>